*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: normal;
  color: #ffffff;

  background-color: #849D8F;
}

.container {
  width: 1200px;
  padding-left: 27px;
  padding-right: 27px;
  margin-left: auto;
  margin-right: auto;
  outline: 1px solid red
}

.main-menu {
  list-style: none;
}

.nav-main-menu {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
}

.nav-main-menu:link {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.nav-main-menu:hover,
.nav-main-menu:focus {
  background-color: #f7f6f3;
  color: #323232;
}

.nav-sub-menu span {
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  color: #323232;
}

.sub-menu {
  list-style: none;
  color: #323232;
}

.nav-sub-menu {
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
  color: #323232;
}

.nav-sub-menu:hover,
.nav-sub-menu:focus {
  background-color: #fbded7;
  color: #323232;
}

.nav-sub-menu:active {
  background-color: #f6b5a5;
  color: #323232;
}

.nav-sub-menu.current {
  background-color: #d07058;
  color: #ffffff;
}

.paginator .current {
  background-color: #ffffff;
  color: #353535;
}

.button-search,
.login-entrance,
.button-basket  {
  color: #ffffff;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.login-entrance {
  text-decoration: none;
}

.search-input,
.input-email,
.nput-password {
  color: #999999;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
}

.password-registration a {
  color: #323232;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
}

.button-entrance {
  color: #fefefe;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
}

.basket-button {
  color: #323232;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.small-round {
  width: 33px;
  height: 33px;
  border-radius: 155px;
}

.items-basket a {
  text-decoration: none;
  color: #323232;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
}

.basket-price {
  color: #323232;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
}

.basket-price span {
  color: #999999;
}

.total-amount span {
  color: #323232;
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
}

.daily {
  font-weight: bold;
  font-size: 14px;
}

.phone {
  font-weight: bold;
  font-size: 22px;
}

.breadcrumbs a {
  color: #ffffff;
  text-decoration: none;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
}

.breadcrumbs a:link {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.breadcrumbs span {
  color: #ffffff;
  text-decoration: none;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
}

.creamy-main {
  font-weight: bold;
  font-size: 35px;
  line-height: 41px;
}

.form-filter,
.range-price-section {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.sorting {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
}

.cream-index a {
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  color: #ffffff;
}

.cream-index h2 {
  font-weight: bold;
  font-size: 60px;
  line-height: 60px;
  color: #ffffff;
}

.gift a {
    background-color: #FF633D;
}

.raspberry-gift {
  background-image: url("../img/raspberry-background.jpg");
  background-color: #6f1532;
  margin-right: 26px;
}

.choco-gift {
  background-image: url("../img/chocolate-background.jpg");
  background-color: #542b14;
}

.gift {
  width: 560px;
  min-height: 230px;
  border-radius: 15px;
  background-repeat: no-repeat;
}

.gift-wrapper {
  display: flex;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.for-nothing {
  font-weight: bold;
  font-size: 35px;
  line-height: 41px;
  color: #ffffff;
}

.gift p {
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
}

.button-red {
  width: 280px;
  height: 65px;
  background-color: #ffffff;
  background-image: linear-gradient(to top, #e74a35, #f26843);
  box-shadow: 0px 2px 2px 0 rgba(172, 16, 0, 0.64);


  font-weight: bold;
  font-size: 32px;
  line-height: 31px;
  color: #ffffff;
  text-align: center;
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
  text-decoration: none;

}

.button-red:hover,
.button-red:focus {
  box-shadow: 0px 2px 2px 0 #ac1000;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(to top, #74a35, #f26843);
}

.button-red:active {
  box-shadow: inset 0px 2px 2px 0 #942718;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)), linear-gradient(to bottom, #74a35, #f26843);
}

.button-gift {
  width: 165px;
  height: 45px;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}

.catalog-item-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.catalog-item {
  width: 267px;
  margin-right: 26px;
}

.catalog-item:nth-child(4n) {
  margin-right: 0px;
}


.catalog-item a {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  text-decoration: none;
}

.catalog-item a:link {
  color: #ffffff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.catalog-item a:hover,
.catalog-item a:focus,
.catalog-item a:active {
  color: #ffbc9e;
  border-bottom-color: rgba(255, 189, 158, 0.2);
}

.round {
  width: 267px;
  border-radius: 155px;
}

.price {
  font-weight: bold;
  font-size: 45px;
  line-height: 45px;
  text-shadow: 0.5px 0.9px 3px rgba(49, 50, 53, 0.5);
}

.catalog-item span {
  font-weight: bold;
  font-size: 30px;
  line-height: 45px;
}

.paginator a{
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
}

.block-advantages {
  background-image: url("../img/waffle-pattern.jpg");
  background-repeat: repeat;
  width: 1146px;
  min-height: 305px;
  border-radius: 15px;
  color: #323232;
}

.advantages p {
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  padding-left: 20px;
}

.list-of-benefits {
  list-style: none;
  font-size: 16px;
  line-height: 22px;

}

.list-of-benefits li {
  width: 477px;
  min-height: 55px;
  margin-bottom: 35px;
}

.list-of-benefits-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

}

.news-block {
  color: #323232;
  background-image: url("../img/strawberry-background.jpg");
  background-repeat: no-repeat;
  width: 560px;
  min-height: 230px;
  border-radius: 15px;
  background-position: -70px -200px;
  margin-right: 26px;

}

.news-block h2 {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  padding-left: 20px;
}

.news-block a {
  color: #323232;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
}

.news-block a:hover,
.news-block a:focus,
.news-block a:active {
  color: #ffbc9e;
}

.email-block {
  color: #323232;
  font-weight: normal;
  background-image: url("../img/bg-post.svg");
  background-repeat: no-repeat;
  width: 560px;
  min-height: 230px;
  border-radius: 15px;
}

.email-block p {
  color: #5a5a5a;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
}

.news-email-wrapper {
  display: flex;
}

.map-adress {
  text-align: center;
}

.adress-main-office,
.adress-for-orders {
  color: #323232;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
}

.adress-street,
.adress-fhone {
  color: #323232;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
}

.footer-social {
  text-align: left;
}

.footer-social ul {
  list-style: none;
}

.social-button {
  color: #ffffff;
}

.useful a {
  color: #ffffff;
}

.useful-about-us {
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  text-decoration: none;
}

.useful-about-us:link {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.made a {
  color: #fefefe;
}

.made {
  color: #fefefe;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  text-decoration: none;
}

.made:link {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.footer-social ul {
  padding: 0px;
  margin: 0px;
}

.footer-social {
  width: 400px;
}

.useful {
  width: 326px;
  margin-right: 230px;
}

.copyright {
  width: 190px;
}

.footer-wrapper {
  display: flex;
  flex-wrap: wrap;

}

.suppliers {
  font-weight: bold;
  font-size: 13px;
  line-height: 18px;
}

.answer {
  display: none;
}
