body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: normal;
  color: #ffffff;

  background-color: #849D8F;
}

.main-menu,
.sub-menu {
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  list-style: none;
}

.nav-main-menu {
  color: #ffffff;
  text-decoration: none;
}

.nav-main-menu:link {
  color: #ffffff;
  border-bottom: 1px solid;
  border-bottom-color: rgba(255, 255, 255, 0.2);
}

.nav-main-menu:hover,
.nav-main-menu:focus {
  background-color: #EDEDED;
  color: #323232;
}

.nav-sub-menu {
  color: #2E2E2E;
  text-decoration: none;
}

.nav-sub-menu:hover,
.nav-sub-menu:focus {
  background-color: #FFE5E0;
  color: #2E2E2E;
}

.nav-sub-menu:active {
  background-color: #EA7056;
  color: #2E2E2E;
}

.button-search,
.login-entrance,
.button-basket  {
  background-color: #9AB5AA;
  color: #ffffff;
}

.login-entrance,
.button-basket  {
  font-weight: 500;
  font-size: 14px;
  line-height: 32px;
}

.cream-index a {
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  color: #ffffff;
}

.cream-index h2 {
  font-weight: bold;
  font-size: 60px;
  line-height: 60.35px;
  color: #ffffff;
}

.cream-index a {
  background-color: #FF633D;
}

.cream-index a:hover,
.cream-index a:focus {
  background-color: #FF7B62;
  color: #ffffff;
}

.cream-index a:active {
  background-color: #FB5133;
  color: #ffffff;
}

.gift a {
    background-color: #FF633D;
}

.gift {
  background-color: #849D8F;
  width: 560px;
  height: 230px;
  border-radius: 15px;
  background-repeat: no-repeat;
}

.raspberry-gift {
  background-image: url("../img/raspberry-background.jpg");
}

.choco-gift {
  background-image: url("../img/chocolate-background.jpg");
}

.for-nothing {
  font-weight: bold;
  font-size: 35px;
  line-height: 41px;
  color: #ffffff;
}

.gift p {
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
}

.button-red {
  background-color: #FD5535;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  text-decoration: none;
}

.button-red:hover,
.button-red:focus {
  background-color: #FF7B62;
  color: #ffffff;
}

.button-red:active {
  background-color: #FD5535;
  color: #ffffff;
}

.catalog-item a {
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  text-decoration: none;
}

.catalog-item a:link {
color: #ffffff;
border-bottom: 1px solid;
border-bottom-color: rgba(255, 255, 255, 0.2);
}

.catalog-item a:hover,
.catalog-item a:focus,
.catalog-item a:active {
  color: #FFCCB4;
  border-bottom-color: rgba(255, 189, 158, 0.2);
}

.round {
  width: 267px;
  height: 267px;
  border-radius: 155px;
}

.catalog-item p {
  font-weight: bold;
  font-size: 45px;
  line-height: 45px;
}

.block-advantages {
  background-color: #849D8F;
  background-image: url("../img/waffle-pattern.jpg");
  background-repeat: repeat;
  width: 1150px;
  height: 305px;
  border-radius: 15px;
  color: #323232;
}

.advantages p {
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
}

.list-of-benefits {
  list-style: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
}

.news-block {
  color: #2E2E2E;
  background-color: #849D8F;
  background-image: url("../img/strawberry-background.jpg");
  background-repeat: no-repeat;
  width: 560px;
  height: 230px;
  border-radius: 15px;
}

.news-block h2 {
  color: #2E2E2E;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
}

.news-block a {
  color: #2E2E2E;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
}

.news-block a:hover,
.news-block a:focus,
.news-block a:active {
  color: #FF4C33;
}

.email-block {
  color: #5F5F5F;
  font-weight: 500;
  background-color: #849D8F;
  background-image: url("../img/bg-post.svg");
  background-repeat: no-repeat;
  width: 560px;
  height: 230px;
  border-radius: 15px;
}

.email-block p {
  color: #5F5F5F;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
}


/*
.map-adress{
  color: #323232;
  background-color: #FFFFFE;
  background-image: url("../img/substrate.jpg");
  background-repeat: no-repeat;
  width: 302px;
  height: 305px;
  border-radius: 15px;
}
*/

.footer-social {
  text-align: left;
}

.footer-social ul {
  list-style: none;
}

.social-button {
  color: #ffffff;
}

.useful a{
  color: #ffffff;
}

.useful-suppliers {
  font: inherit;
  font-weight: bold;
  font-size: 13px;
  line-height: 18px;
}

.useful-about-us {
  font: inherit;
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
}

.answer {
  display: none;
}
